/app/runtime/*
/app/vendor
/app/composer.lock
/app/config/local_settings.php
/www/static/node_modules
/www/static/bower_components
/www/static/frontend/dist/*
/www/static/frontend/temp/*
/www/static/backend/dist/*
/www/static/backend/temp/*
/www/media

/app/Modules/Admin
/app/Modules/Base
/app/Modules/Editor
/app/Modules/Files
/app/Modules/Mail
/app/Modules/Text
/app/Modules/User
/app/Modules/Meta
/app/Modules/Sitemap

.idea
.DS_Store