/app/runtime/*
/app/vendor
/app/composer.lock
/app/config/local_settings.php
/www/static/node_modules
/www/static/bower_components
/www/static/frontend/dist/*
/www/static/backend/dist/*

/app/Modules/Tree

.idea
.DS_Store