@import "settings";
@import "__cds_index";

@import "_parts/base";
@import "_parts/typo";

@import "_parts/header";
@import "_parts/footer";
@import "_parts/content_header";
@import "_parts/breadcrumbs";

@import "_parts/menu";
@import "_parts/forms";

@import "_vendors/_fancy";
@import "_vendors/_modal";
@import "_vendors/_tabs";
@import "_vendors/_slick";
@import "_vendors/_sticky";